@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --background-color: turquoise;
  --header-background-color: #1f2a44;
}

body {
  background-color: var(--background-color);
  margin: 0;
  font-family: "Inter", sans-serif;
}

header {
  background-color: var(--header-background-color);
  padding: 1.5rem 3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  margin: 0;
  color: red;
}

h1:hover {
  color: #f5f0e6;
  cursor: pointer;
}
